.cart {
  width: 0;
  overflow: hidden;
  background-color: #FF9500;
  border-radius: 30px;
  transition: width 0.3s ease;
  position: relative;
}

.wrapper {
  padding: 15px;
}

.cartHeader {
  display: flex;
  justify-content: space-between;
}

.close {
  width: 35px;
  height: 35px;
  font-size: 30px;
  border-radius: 100%;
  transition: rotate 0.5s ease;
}

.close:hover {
  rotate: 360deg;
}

.cart.visible {
  width: 320px;
  margin-left: 20px;
  display: block;
}

.cartContent {
  flex: 0 0 auto;
  min-width: 250px;
}